.datetime{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size:14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px
}

.align-center{
    text-align: center;
}

.formLogin, .formSignUp{
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f5f5f5
}

.boton-addFood{
    margin-top: 10px;
}

.margin-22{
    margin-top: 22px;
}

.hr-plan{
    width: 90%;
}

.row-foodsList{
    margin-left: 0px;
    margin-bottom: 10px;
}

.listFood{
    margin-right: 5px;
}

.options-list{
    width: 50%;
    display: inline-block;
    color: #fff;
    height: 57px;
    border-radius: 4px;
}

.edit-option{
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    border-radius: 0px;
}

.delete-option{
    background-color: #d9534f;
    border: 1px solid #d43f3a;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.list-pacients{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.c-white{
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 10px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5cb85c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4cae4c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.img-center{
    margin-left: auto;
    margin-right: auto;
}

.img-min{
    width: 300px;
    height: auto;
}

.fullScreenHeight{
    height: 100vh;
}

.centerElements{
    display: flex;
    align-items: center;
    justify-content: center;
}

.BGImg{
    background: url(https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e0245bb4e87077312cc3d102e68c1efd&auto=format&fit=crop&w=735&q=80);

    /* Add the blur effect */
    /*filter: blur(5px);
    -webkit-filter: blur(5px);*/
    filter: brightness(100%);
    -webkit-filter: brightness(100%);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

.navbar-home{
    position: fixed;
    width: 100%;
    border-radius: 0px;
    background-color: #4db6ac;
    border:0
}

.navbar-collapse{
    border: 0;
}

.navbar-toggle{
    border: 0;
}

.linkHome{
    color: #fff;
}

.linkHome:hover{
    color: #fff;
    text-decoration: none;
}
/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.img-cel{
    height: auto;
    
    max-width: 80%;
}

.img-download{
    height: auto;
    width: 20%;
}

@media only screen and (max-width:991px){
    .margin-22{
        margin-top:0px
    }

    .rowNumComidas{
        margin-top:25px
    }
}

@media only screen and (max-width:794px){
    .row-pacients-list{
        margin-left: auto;
        margin-right: auto;
    }

    #conocenos{
        flex-direction: column;
    }
    .img-cel{
        height: auto;
        width: 70%;
    }
    .img-download{height: auto;width: 50%;}
}
